body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #746885;
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #746885;
}

nav {
  display: block;
  background-color: #9b86a7;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

#first {
  display: block;
  background-color: #9b86a7;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

#second {
  display: block;
  background-color: #9b86a7;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

#third {
  display: block;
  background-color: #9b86a7;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

main > div{
  display: block;
  background-color: #9b86a7;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

main > h1 {
  display: block;
  padding: 10px;
  margin: 10px;
}

main > p {
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

main > img {
  display: block;
  border-radius: 25px;
  padding: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

#container {
  display: block;
  flex-wrap: wrap;
  flex-grow: 0;
  margin: 10px;
  padding: 10px;
}

footer {
  display: block;
  border-radius: 25px;
  background-color: #9b86a7;
  padding: 10px;
  margin: 10px;
}

h2 {
  display: flex;
}

.add-to-cart-button {
  background-color: #849688;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #283d3b;
}

#usrname, #psw, #select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #849688;
  color: white;
}

#containertwo {
  background-color: #f1f1f1;
  padding: 20px;
}

#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

valid {
  color: green;
}

valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

invalid {
  color: red;
}

invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}